.edge-icon { 
	marker-end: url(class_diagrams.svg#Triangle);
	stroke: black; 
	fill: none;
}

text {
	fill : black;
	stroke : none;
	dominant-baseline : hanging;
}

rect#dragging,rect#marquee {
	fill : none;
	stroke : black;
	stroke-dasharray : 1;
}

.highlighted {
	stroke : blue;
}

.highlightable {
}


.resizable-e {
	cursor : e-resize;
	opacity : 0;
	stroke-width : 10;
}

.resizable-se {
	cursor : se-resize;
	opacity : 0;
	stroke-width : 10;
}

.resizable-s {
	cursor : s-resize;
	opacity : 0;
	stroke-width : 10;
}
/*TODO: other resizables*/

.ctrl-point-draggable {
	cursor : move;
}

.arrow-editable {
	cursor : pointer;
}

.drop-target {
}

.path-drawable {
}

.class-icon {
	stroke : black;
	fill : url(class_diagrams.svg#white-blue);
}

.package-icon {
	stroke : black;
	fill : url(class_diagrams.svg#white-blue);
}

.radio-button-group-icon {
	stroke : black;
	fill : url(class_diagrams.svg#white-grey);
}

.control-point-icon {
	fill:yellow;
	stroke:black;
}

.end-point-icon {
	fill:red;
	stroke:black;
}

.pressed rect {
	fill : red;
}

.selectable {
	cursor : pointer;
}

.class-icon.selected {
	stroke : yellow;
}

.package-icon.selected {
	stroke : yellow;
}

