.edge-icon{
	stroke: black; 
	fill: none;
}

.edge-icon path.marker { 
	marker-end: url(class_diagrams.svg#Triangle);
}

text {
	fill : black;
	stroke : none;
	dominant-baseline : hanging;
}

rect#dragging,rect#marquee {
	fill : none;
	stroke : black;
	stroke-dasharray : 1;
}

.highlighted {
	stroke : blue;
}

.highlightable {
}

.resizable-e {
	cursor : e-resize;
}

.resizable-se {
	cursor : se-resize;
}

.resizable-s {
	cursor : s-resize;
}

.control {
	opacity : 0;
	stroke-width : 10;
	stroke:red;
}

/*TODO: other resizables*/

.ctrl-point-draggable {
	cursor : move;
}

.arrow-editable {
	cursor : pointer;
}

.drop-target {
}

path.highlighted.drop-target.control {
	opacity : .5;
}

.path-drawable {
}

.class-icon {
	stroke : black;
	fill : url(class_diagrams.svg#white-blue);
}

.package-icon {
	stroke : black;
	fill : url(class_diagrams.svg#white-blue);
}

.radio-button-group-icon {
	stroke : black;
	fill : url(class_diagrams.svg#white-grey);
}

.control-point-icon {
	fill:yellow;
	stroke:black;
}

.end-point-icon {
	fill:red;
	stroke:black;
}

.pressed rect {
	fill : red;
}

.selectable {
	cursor : pointer;
}

.class-icon.selected {
	stroke : yellow;
}

.package-icon.selected {
	stroke : yellow;
}

